@font-face {
  font-family: 'TheSans';
  font-weight: 300;
  font-style: normal;
  src: url('/fonts/TheSans/TheSansB_300.woff2') format('woff2'),
  url('/fonts/TheSans/TheSansB_300.woff') format('woff');
}
